@font-face{
	font-family: "Uni Neue";
	src: url("../../fonts/UniNeueRegular.ttf") format('truetype');
	font-display: swap;
	font-weight: 400;
}
@font-face{
	font-family: "Uni Neue";
	src: url("../../fonts/UniNeueHeavy.ttf") format('truetype');
	font-display: swap;
	font-weight: 800;
}
@font-face{
	font-family: "Uni Neue";
	src: url("../../fonts/UniNeueBold.ttf") format('truetype');
	font-display: swap;
	font-weight: bold;
}
@font-face{
	font-family: "Uni Neue";
	src: url("../../fonts/UniNeueBlack.ttf") format('truetype');
	font-display: swap;
	font-weight: 900;
}
@font-face{
	font-family: "Muller";
	src: url("../../fonts/MullerRegular.ttf") format('truetype');
	font-display: swap;
	font-weight: 400;
}