.footer{
    background: var(--green);
    padding: 30px 0 34px;
    &__logo{
        display: block;
    }
    &__row{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__copyright{
        color: var(--white);
        font-family: "Muller", sans-serif;
        font-size: 18px;
        line-height: 22px;
    }
    &__link{
        color: var(--white);
        text-decoration: none;
        position: relative;
            &:hover::after{
                content: '';
                position: absolute;
                bottom: -3px;
                left: 0;
                height: 1px;
                width: 100%;
                background: var(--white);
            }

    }
}

