.form{
    background: url('../../assets/png/form.png') no-repeat;
    border-bottom: 4px solid var(--green);
    &__title{
        text-align: center;
        font-family: "Uni Neue", sans-serif;
        font-weight: 800;
        font-size: 60px;
        color: var(--white);
        padding:40px 0 48px;
        text-transform: uppercase;
    }
    &__row{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 49px;
    }
    &__form{
        display: flex;
        flex-direction: column;
        background-color: var(--black);
        border: 4px solid var(--green); 
        padding: 30px;
        max-width: 550px;
        width:100%;
        height: 823px;

    }
    
    &__input{
        display:flex;
        flex-direction: column;
        justify-content: center;
        
        margin-bottom:16px;
        &-text{
            font-family: "Uni Neue", sans-serif;
            font-weight: 500;
            font-size: 18px;
            letter-spacing: 0.05px;
            color: var(--white);
            margin-bottom: 16px;
        }
        &-item{
            width: 100%;
            height: 46px;
            border: 1px solid var(--white);
            background-color: var(--black);
        }
        &-radio{
            display: flex;
        }
        &-textarea{
            border: 1px solid var(--white);
            background-color: var(--black);
            height: 98px;
            width: 100%;
            padding-top: 14px;
            resize: none;
        }
    }
    &__checkbox{

        &-label{
            font-family: "Uni Neue", sans-serif;
            color: var(--white);
            font-weight: 500;
            font-size: 14px;
        }
    }
    &__button{
        position: relative;
        padding: 20px 0;
        border: none;
        cursor: pointer;
        background: transparent;
        width: 257px;
        text-align: center;
        z-index:2;  
        &-text{
            text-transform: uppercase;
            font-family: "Uni Neue", sans-serif;
            font-weight: 800;
            font-size: 24px;
            line-height: 48px;
            color: var(--white);
            transition: 0.3s transform;
            z-index: 2;
            &:hover{
                transform: scale(1.2);
            }
        }
        &-wrapper{
            margin-top: 42px;
            display: flex;
            width: 100%;
            justify-content: center;
            z-index: 1;
        }
        &::before{
            width: 100%;
            height: 10px;
            background: var(--green);
            opacity: 0.5;
            left: 0px;
            top: 45%;
            content: "";
            position: absolute;
            z-index: -1;
        }

    }
   &__radio{
    font-family: "Uni Neue", sans-serif;

       &-button{
           position: absolute;
           left: -100%;
           z-index: -1;
           opacity: 0;
           &:checked + .form__label{
               &::before{
                   content: '';
                   display: block;
                   background: var(--white);
                   width: 7px;
                   height: 7px;
                   border-radius: 50%;
               }
           }
       }
       &-title{
           font-weight: 500;
           color: var(--white);
           margin-bottom: 16px;
       }
   }    
   &__label{
       
       display: flex;
       justify-content: center;
       align-items: center;
       border: 2px solid var(--green);
       background: var(--black);
       border-radius: 50%;
       width: 27px;
       height: 27px;
       margin-right: 12px;
   }
   &__sex{
       display: flex;
       align-items: center;
       margin-right: 23px;
       padding-bottom: 15px;
   }
   &__name{
       
       color: var(--white);
   }

}
::placeholder{
    font-family: "Uni Neue", sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.05px;
    color: #FFFFFF33;
    padding-left: 20px;

}