.present {
    background: url('../../assets/png/present.jpg') no-repeat;
    color: #ffffff;
    padding: 0 0 46px;
    &::after{
        content: "";
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: var(--green);
        opacity: 0.5;
        width: 461px;
        height: 461px;
        border-radius: 50%;

    }
    &__row{
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    &__text{
        max-width: 800px;
        text-align: center;
        font-family: "Uni Neue", sans-serif;
        font-weight: 800;
        font-size: 20px;
        line-height: 48px;
        letter-spacing: 1px;
    }
    &__arrow{

        z-index: 5;
        position: absolute;
        cursor: pointer;
        &--left{
            top: 370px;
        }
        &--right{
            top: 356px;
            right: 0;
            transform: rotate(180deg);
        }
    }
    &__button{
        position: relative;
        padding: 20px 0;
        border: none;
        cursor: pointer;
        background: transparent;
        width: 257px;
        text-align: center;
        &-text{
            text-transform: uppercase;
            font-family: "Uni Neue", sans-serif;
            font-weight: 800;
            font-size: 24px;
            line-height: 48px;
            color: #fff;
            transition: 0.3s transform;
            &:hover{
                transform: scale(1.2);
            }
        }
        &-wrapper{
            margin-top: 42px;
            display: flex;
            width: 100%;
            justify-content: center;
            z-index: 1;
        }
        &::before{
            width: 100%;
            height: 10px;
            background: var(--green);
            opacity: 0.5;
            left: 0px;
            top: 45%;
            content: "";
            position: absolute;
            z-index: -1;
        }
    }
    &__title{
        text-align: center;
        text-transform: uppercase;
        font-family: "Uni Neue", sans-serif;
        font-weight: 800;
        font-size: 120px;
        line-height: 64px;
        margin: 260px 0 81px;
        color: var(--white);
    }
    &__content{
        padding: 170px 0 60px;
        //margin: 170px 0 60px;
        &-inner{
            position: relative;
            z-index: 1;
            margin-bottom: 148px;
        }

    }
    & .swiper-slide{
        display: flex;
        justify-content: center;
    }
    & .swiper-pagination{

        margin-top: 148px;
        position: relative;
        z-index: 1;
    }
    & .swiper-pagination-bullet{
        width: 15px;
        height: 15px;
        background: var(--white);
        &:not(.swiper-pagination-bullet-active){
            opacity: 0.3;
        }
    }
    & .swiper-pagination-bullet-active{
        background: var(--white);
    }
}


